# Núcleo para jupyter-book
jupyter-book

# Visualización y ciencia de datos
matplotlib
numpy
scipy
pandas
seaborn
sympy
plotly

# Widgets interactivos
ipywidgets==8.1.5
ipympl

# Extensiones de jupyter-book
myst_nb
sphinx-exercise
sphinx-proof
jupyterquiz
pydata-sphinx-theme

# Evita conflictos en Binder:
# Usa versiones compatibles entre jupyter_client y notebook

notebook==6.5.6
jupyterlab==3.6.7           # Última versión compatible con notebook 6
jupyter_server==1.24.0      # Compatible con notebook 6
jupyter_client>=7.0,<8
jupyter_core==5.7.2
ipykernel==6.29.5
IPython==8.32.0
traitlets==5.14.3

# NB support
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4

# Para evitar conflictos con sphinx
docutils==0.18.1
